.request-dispatch {
  background-color: #E5E5E5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;

  .content {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 612px;
    height: 530px;
    max-width: 90%;
    max-height: calc(100vh - 90px);
    margin: auto;
    background: #FFF;

    .form-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      margin: 0 30px;
      border-bottom: 1px solid #E5E5E5;
      position: relative;
      flex-wrap: wrap;

      .backArrowButton {
        margin-right: auto;
        display: flex;
        gap: 12px;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        flex-shrink: 1;
      }

      .form-title {
        margin: 0 auto;
        flex-grow: 1;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #21334F;
        padding-right: 65px;
        text-align: center;
      }
    }

    .form-section {
      max-width: 90%;
      margin: 0 auto;

      .form {
        margin: 30px auto 30px;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        .request-btn {
          margin-top: 20px;
        }
      }
    }
  }
}