.buttonComponent {
  font-family: "Inter";
  border: none;
  align-self: stretch;
  padding: 16.5px 16px;
  gap: 10px;
  background: #E02B45;
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}